div.container {
}

div#mapcontainer {
  font-family:Arial, sans-serif;
  font-size:12px; 
  border:2px double #fff;
}

div#map_canvas {
  height:440px;
}

div#map_canvas h1 {

}

div.address  {

}

div.description {

}
